@using diplom.Models
@model IEnumerable<Trainer>
@{
    ViewData["Title"] = "Тренеры";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Тренеры</h1>
    <ul>
        @foreach (var trainer in Model)
        {
            <li>
                @trainer.FullName – @trainer.PricePerSession руб./сессию
                <a asp-controller="Trainer" asp-action="Details" asp-route-id="@trainer.Id">Подробнее</a>
            </li>
        }
    </ul>
</body>
</html>
